@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
    background-color: #2A303C;
    color: #A6ADBB;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.sub-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
}

.card{
    border: 1px solid #191D24;
    border-radius: 5px;
    padding: 20px 20px 0 20px;
    text-align: center;
    height: 270px;
    background-color: #191D24;
}

.img{
    width: 100%;
    height: 130px;
}

.title-text{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin:20px 0;
}

.select-item{
    padding: 10px;
    width: 30%;
    margin: 0 auto;
    border-radius: 4px;
}

.search-box{
    text-align: center;
    margin: 30px 0;
}
.country-name{
    font-size: 18px;
    margin-top: 15px;
}

#view-all{
    margin: 20px 0 50px 0;
    background:#191D24;
    color: #fff;
    padding:12px 40px;
    border:0;
    border-radius: 5px;
    color: #A6ADBB;
    font-weight: 600;
    cursor: pointer;
}
@media screen and (max-width:577px) {
    .img {
            height: 100px;
        }
    .sub-container {
            grid-template-columns: repeat(2, 1fr);
            gap: 12px;
        }
    
        .card {
            padding: 10px;
            height: 240px;
        }
        .country-name {
            font-size: 16px;
        }

        .select-item {
            width: 80%;
          }
    .container {
        padding: 10px;
}
}